{% extends "basic.html" %}
{% block attributes %}
    ng-app="trznica"
{% endblock %}
{% block scrpipts %}
    <script src="../static/lib/angular.js"></script>
    <script src="../static/angular/controllers.js"></script>
    <script src="../static/angular/app.js"></script>
    <script src="../static/angular/services.js"></script>
    <script src="../static/lib/angular-resource.js"></script>
    <script type="text/javascript">var USER_ID = "{{ request.user.id }}";</script>
    <script type="text/javascript">var VERSION = "{{ request.user.bidders.urnikVersion }}";</script>
    <link href="../static/custom.css" rel="stylesheet" media="screen">
    <style type="text/css">

        td.popup div {position: relative;}
        td.popup div span {display: none;}
        td.popup div:hover span {display: block;
            position: absolute; top: 10px; left: -8em; width: 215px;
            padding: 5px; margin: 10px; z-index: 100;
            opacity: 1;
            color: black; background: #D1D1D1;
            font: 14px Verdana, sans-serif;}
    </style>
{% endblock %}
{% block content %}
    <head>
        <title>FriTržnica - čakalnica</title>
    </head>
    <body>
    <!--<hr c>-->
    <h4>Kaj sem ponudil?</h4>
    <table class="table table-striped" border="0">
        {% if termini|length != 0 %}
            <thead>
            <tr>
                <td><b>Predmet</b></td>
                <td></td>
                <td><b>Trenutni termin</b></td>
                <td style="padding-left: 0.85cm"><b>Ponujeni termini</b></td>
            </tr>
            </thead>
        {% else %}
            <p>Nič</p>
        {% endif %}
        {% for element in termini %}
        <tr>
        {% for iter in element %}
            <td>
                {% if forloop.first %}
                    {{ iter }} <!-- predmet -->
                {% endif %}
                {% if forloop.counter0 == 1 %}
                    <a href="../brisi/{{ iter }}" class="icon-remove"></a>
                {% endif %}
                {% if forloop.counter0 == 2 %}
                   {{ iter }} <!-- termin -->
                {% endif %}
                {% if forloop.last %}

                    {% for posamezen in iter %}

                            <ul>
                            {% for id in posamezen %}
                            {% if forloop.first %}
                                {{ id }}

                                <!--<button class="btn-primary pull-right" type="button">Sprejmi</button>-->
                            {% endif %}
                            {% if forloop.last %}
                                <a href="../sprejmi/{{ id }}" class="icon-ok pull-right"></a>
                                <br>
                            {% endif %}
                            {% endfor %}
                            </ul>

                    {% endfor %}

                {% endif %}
            </td>
        {% endfor %}
        </tr>
        {% endfor %}

    </table>
    <hr>
    <h4>Kje sodelujem?</h4>
    <table class="table table-striped">
    {% if sodelujem|length != 0 %}
    <thead>
    <tr>
        <td><b>Predmet</b></td>
        <td><b>Trenutni termin</b></td>
        <td><b>Željen termin</b></td>
    </tr>
    </thead>
    {% else %}
        <p>Nič</p>
    {% endif %}
    <tbody>
        {% for iter in sodelujem %}
            <tr>

                    {% for element in iter %}
                        <td>
                        {{ element }}
                        </td>
                    {% endfor %}

            </tr>
        {% endfor %}
    </tbody>
    </table>
    <hr>
    <h4>Kaj je sprejeto?</h4>
    {% if sprejeto|length != 0 %}
    <table class="table table-striped" border="0">
        <thead>
        <tr>
            <td><b>Predmet</b></td>
            <td><b>Stari termin</b></td>
            <td><b>Novi termin</b></td>
        </tr>
        </thead>
    {% else %}
        <p>Nič</p>
    {% endif %}
    <tbody>
    {% for iter in sprejeto %}
        <tr>
            {% for element in iter %}
                {% if forloop.counter0 != 3 %}
                <td>
                    {{ element }}
                </td>
                {% endif %}
                {% if forloop.last %}
                    <td class="popup">
                        <div>
                        <span>

            	        Vaje zamenjane z:
            	        {{ element }}
                        </span>
                        <i class="icon-search"></i>
                        </div>
                    </td>

                {% endif %}
            {% endfor %}

        </tr>
    {% endfor %}
    </tbody>
    </table>
    <hr>
    <h4>Kaj ni sprejeto?</h4>
    {% if zavrnjeno|length != 0 %}
        <table class="table table-striped" border="0">
        <thead>
        <tr>
            <td><b>Predmet</b></td>
            <td><b>Trenutni termin</b></td>
            <td><b>Željeni termin</b></td>
        </tr>
        </thead>
    {% else %}
        <p>Nič</p>
    {% endif %}
    <tbody>
    {% for iter in zavrnjeno %}
        <tr>
            {% for element in iter %}
                <td>
                    {{ element }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </body>
    <div ng-view></div>
{% endblock %}