{% extends "basic.html" %}
{% block attributes %}
    ng-app="trznica"
{% endblock %}
{% block scrpipts %}
    <script type="text/javascript">var VERSION = "{{ request.user.bidders.urnikVersion }}";</script>
    <script type="text/javascript">var USER_ID = "{{ request.user.id }}";</script>
    <script src="../static/lib/angular.js"></script>
    <script src="../static/angular/controllers.js"></script>
    <script src="../static/angular/app.js"></script>
    <script src="../static/angular/services.js"></script>
    <script src="../static/lib/angular-resource.js"></script>
    <link href="../static/custom.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <head>
        <title>FriTržnica</title>
    </head>
    <body ng-controller="OffersCtrl">
    <div ng-show="isLoggedInUser(offer.user_id)">Show</div>
    {% if state > 0 %}
        {% if state == 1 %}
            <div id="error" class="alert alert-error">
                <small>Nimaš ustreznega predmeta za menjavo!</small>
            </div>
        {% endif %}
        {% if state == 2 %}
            <div id="error" class="alert alert-error">
                <small>Ponudba že obstaja!</small>
            </div>
        {% endif %}
        {% if state == 3 %}
            <div id="succes" class="alert alert-success">
                <small>Uspešno si ponudil zamenjavo.</small>
            </div>
        {% endif %}
        {% if state == 4 %}
            <div id="error" class="alert alert-error">
                <small>Izbran predmet je že zamenjan in sprejet.</small>
            </div>
        {% endif %}

    {% endif %}
    Išči: <input class="input-medium" ng-model="query">
    Dan: <select ng-model="day">
            <option selected="selected" value="">Vsi dnevi</option>
            <option value="ponedeljek">Ponedeljek</option>
            <option value="torek">Torek</option>
            <option value="sreda">Sreda</option>
            <option value="četrtek">Četrtek</option>
            <option value="petek">Petek</option>
         </select>
    <hr c>

            <table class="table table-striped">
                    <thead>
                    <tr>
                        <td ng-show="(offers.objects | filter:query | filter:day).length>0"><b>Predmet</b></td>
                        <td ng-show="(offers.objects | filter:query | filter:day).length>0"><b>Termin</b></td>
                        <td ng-show="(offers.objects | filter:query | filter:day).length>0" class="pull-right"><b>Predlagaj zamenjavo</b></td>
                    </tr>
                    </thead>
                <tr ng-repeat="offer in offers.objects | filter:query | filter:day">
                    <p ng-show="(offers.objects | filter:query | filter:day).length==0">Nobena ponudba ne ustreza kriterijem iskanja</p>
                    <td>
                        {% verbatim %}{{offer.predmet}}{% endverbatim %}
                    </td>
                    <td>
                        {% verbatim %}{{offer.termin}}{% endverbatim %}
                    </td>
                    <td>
                        <a href="../tryoffer/{% verbatim %}{{offer.id}}{% endverbatim %}/" class="icon-ok pull-right"></a>
                    </td>
                </tr>
            </table>
    </body>
    <div ng-view></div>
{% endblock %}