{% extends "basic.html" %}
{% block attributes %}
    ng-app="trznica"
{% endblock %}
{% block scrpipts %}
    <script type="text/javascript">var VERSION = "{{ request.user.bidders.urnikVersion }}";</script>
    <script type="text/javascript">var USER_ID = "{{ request.user.id }}";</script>
    <script src="../static/lib/angular.js"></script>
    <script src="../static/angular/controllers.js"></script>
    <script src="../static/angular/app.js"></script>
    <script src="../static/angular/services.js"></script>
    <script src="../static/lib/angular-resource.js"></script>

{% endblock %}
{% block content %}
    <head>
        <title>FriTržnica</title>
    </head>
    <body ng-controller="OffersCtrl">
    <div ng-show="isLoggedInUser(offer.user_id)">Show</div>
    Išči: <input ng-model="query">
    <hr c>

            <table class="table table-striped">
                    <thead>
                    <tr>
                        <td><b>Predmet</b></td>
                        <td><b>Termin</b></td>
                        <td><b>Predlagaj zamenjavo</b></td>
                    </tr>
                    </thead>
                <tr ng-repeat="offer in offers.objects | filter:query">
                    <td>
                        {% verbatim %}{{offer.predmet}}{% endverbatim %}
                    </td>
                    <td>
                        {% verbatim %}{{offer.termin}}{% endverbatim %}
                    </td>
                    <td>
                        <a href="../tryoffer/{% verbatim %}{{offer.id}}{% endverbatim %}/"><button class="btn-primary pull-right" type="button">Zamenjaj</button></a>
                    </td>
                </tr>
            </table>
    </body>
    <div ng-view></div>
{% endblock %}