{% extends "basic.html" %}
{% block attributes %}
    ng-app="trznica"
{% endblock %}
{% block scrpipts %}
    <script src="../static/lib/angular.js"></script>
    <script src="../static/angular/controllers.js"></script>
    <script src="../static/angular/app.js"></script>
    <script src="../static/angular/services.js"></script>
    <script src="../static/lib/angular-resource.js"></script>
{% endblock %}
{% block content %}
    <head>
        <title>FriTržnica</title>
    </head>
    <body ng-controller="OffersCtrl">
    Išči: <input ng-model="query">
    <hr c>
    <ul class="alloffers">
        <li ng-repeat="offer in offers.objects | filter:query">
            {% verbatim %} {{offer.predmet}} {% endverbatim %}
        </li>
    </ul>
    </body>
    <div ng-view></div>
{% endblock %}