{% extends "basic.html" %}
{% block scrpipts %}
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/spin.js"></script>


{% endblock %}
{% block head%}
		<title>FriTržnica - prijava</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../static/form.css" rel="stylesheet" media="screen">
{% endblock %}
{% block header %}
{% endblock %}
{% block content%}

    <div class="container">
      <div class="row-fluid">
      	<div class="span2">
      		<!-- empty -->
      	</div>
        <div id="forma" class="span4">
      <form id="theForm1" class="form-signin" action="#" method="post">
      	<p></p>
        <h4 class="form-signin-heading">Prijava</h4>
          {% if state != "" %}
              <div id="error" class="alert alert-error">
                  <small>{{ state }}</small> s
              </div>
          {% endif %}
          {% csrf_token %}
         <div id ="upime">
            Uporabniško ime <input type="text" class="input-block-level" name="username" placeholder="Uporabniško ime" value="{{ username}}">
         </div>
          <div id="spin">
          </div>
         <div id ="pass">
            Geslo <input type="password" class="input-block-level" name="password" placeholder="Geslo">
         </div>
        <button id="theForm" class="btn btn-large btn-primary" data-loading-text="Nalagam..." type="submit" value="Log In" onClick=spin_start()>Prijava</button>
      </form>
        </div>
        <div class="span3">
          <h4>Navodila za prijavo </h4>
          <p>Prijavite se z enakimi podatki kot na spletno učilnico FRI.</p>
          <p>username@student.uni-lj.si oz. username@fri1.uni-lj.si in vaše geslo.</p>
       </div>
        <div class="span3">
        	<!-- empty -->
      	</div>
      </div>
        <script type="text/javascript">
            var opts = {
                lines: 18, // The number of lines to draw
                length: 10, // The length of each line
                width: 3, // The line thickness
                radius: 10, // The radius of the inner circle
                rotate: 0, // The rotation offset
                color: '#000', // #rgb or #rrggbb
                speed: 0.7, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                className: 'spinner', // The CSS class to assign to the spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: 'auto', // Top position relative to parent in px
                left: 'auto' // Left position relative to parent in px
            };
            var target = document.getElementById('spin');
            var spinner = new Spinner(opts).spin(target);
            spin_stop();
            function spin_stop()
            {
                spinner.stop();
            }
            function spin_start()
            {
                spinner.spin(target);
                upime.style.visibility='hidden';
                pass.style.visibility='hidden';
            }
        </script>
    </div>
{% endblock %}