{% extends "basic.html" %}
{% block attributes %}
    ng-app="trznica"
{% endblock %}
{% block scrpipts %}
    <script src="../static/lib/angular.js"></script>
    <script src="../static/angular/controllers.js"></script>
    <script src="../static/angular/app.js"></script>
    <script src="../static/angular/services.js"></script>
    <script src="../static/lib/angular-resource.js"></script>
{% endblock %}
{% block content %}
    <head>
        <title>FriTržnica - profil</title>
    </head>
    <body>
        V kolikor prikazani podatki niso tvoji (ime, priimek, vpisna št.), najprej preveri login podatke, nato pa na učilnici.
        Prikazani podatki se pridobivajo samodejno iz FRI učilnice.
    </body>
{% endblock %}